/* Estilos para el body */
body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buscar{
    display: inline-flex;
    padding: 10px;
    width: auto;
}

.campo{
    margin: 5px;
}

.centrar{
    display: grid;
    place-items: center;
}

.button {
    background-color: #4cafa5; /* color de fondo */
    border: none; /* sin borde */
    color: white; /* color del texto */
    padding: 15px 32px; /* espacio entre el texto y el borde */
    text-align: center; /* alinear el texto al centro */
    text-decoration: none; /* sin decoración de texto */
    display: inline-block; /* mostrar como bloque de línea */
    font-size: 16px; /* tamaño de fuente */
    margin: 4px 2px; /* margen entre botones */
    cursor: pointer; /* cambiar el cursor al pasar por encima */
    border-radius: 8px; /* esquinas redondeadas */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* sombra */
  }
  
  /* al pasar el cursor sobre el botón */
  .button:hover {
    background-color: #41948b;
    color: white;
    transition: background-color 0.5s ease;
  }
  
  /* al hacer clic en el botón */
  .button:active {
    background-color: #265a54;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transform: translateY(2px);
  }
  

  .listadoAlumnos {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.listadoAlumnos h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    font-size: 1.2rem;
}

input{
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

select{
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
  
.table-buscar{
    width: 500px;
}
  
